body {
    background: url('https://htmlcolorcodes.com/assets/images/colors/light-brown-color-solid-background-1920x1080.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }